<h1>Welcome</h1>

<form action="/recipes" method="POST">
  <input type="text" name="search">
  <input type="submit" value="Search">
</form>

<ul>
  <% if @result  %>
    <% @result.collect do |result| %>
      <li>
      <a href="/recipes/<%= result.id %>"><%= result.name %></a>
      </li>
    <% end %>
  <% end %>
</ul>

