<h1>Welcome</h1>

<form action="/recipes" method="POST">
  <input type="text" name="search">
  <input type="submit" value="Search">
</form>

<ul>
  <% if @result  %>
    <% @result.each do |result| %>
      <li>
      <a href="/recipes/<%= result.id %>"><%= result.name %></a>
      </li>
    <% end %>
  <% end %>
</ul>

<h1>Saved Recipes</h1>

<% if @saved_recipes %>
  <ul>
    <% @saved_recipes.each do |recipe| %>
      <li>
        <%= recipe.name %>
      </li>

    <% end %>
  </ul>
<% end %>
