<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Boostrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <p class="navbar-text"><a href="/recipes" class="navbar-link">Home</a></p>
      <p class="navbar-text"><a href="/scheduled_meals/<%= Date.today %>" class="navbar-link">Scheduled Meals</a></p>
    </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p class="navbar-text navbar-right">Peter Prakobkit</p>
    </div>
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/js/application.js"></script>
  </body>
</html>
