<h2><%= @recipe.name %></h2>
<ul>
  <% @recipe.ingredients.uniq.each do |ingredient| %>
    <li>
    <%= ingredient %>
    </li>
  <% end %>
</ul>
<form action="/recipes" method="POST">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <input type="submit" value="Save">
</form>

<form action="/recipes/<%= @recipe.id %>/email" method="POST">
  <input type="text" name="email">
  <input type="submit" value="Save">
</form>
