<h2><%= @recipe.name %><%= " - Scheduled at #{@recipe.scheduled_at.strftime("%A %B %d")}" if @from_db %></h2>

<ul>
  <% @recipe.ingredients.uniq.each do |ingredient| %>
    <li>
    <%= ingredient %>
    </li>
  <% end %>
</ul>

<% if !@from_db %>
  <form action="/recipes/schedule" method="POST">
    <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
    Email
    <input type="text" name="email">
    When would you like to make this?
    <input type="date" name="date">
    <p><input type="submit" value="Send"></p>
  </form>
<% end %>

