<h2><%= @recipe.name %></h2>
<ul>
  <% @recipe.ingredients.uniq.each do |ingredient| %>
    <li>
    <%= ingredient %>
    </li>
  <% end %>
</ul>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="submit" value="Save">
</form>
